.header-container{
    display: flex;
    text-align: center;
    justify-content: center;
}
.open-account-text-header{
    width: fit-content;
    margin: 15px;
}
.open-account-header{
    width: fit-content;
}
.icon-container{
    height: fit-content;
    margin: 13px;
    margin-right: 0px;
    width: fit-content;
}