.main-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height:400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(179, 179, 179, 0.7);
}
.table-container-{
    width: fit-content;
    margin: 0 auto;
}
.account-container{
    cursor: pointer;
}
.dashboard-icon-container{
    box-shadow: 0px 0px 2px rgb(59, 141, 189);
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin: 1px 10px;
}
.settings-container{
    width: 100px;
    height: 120px;
    border-radius: 3px;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(179, 179, 179, 0.7);
    margin-top: -25px;
}
.button-container{
    margin: 7px;
}